<h1 class="animated fadeIn fast">Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus possimus neque fuga, quae dolor deserunt, veniam facilis ratione esse, ipsa itaque necessitatibus officia voluptatum magni nobis dolore. Dolor, quia quos.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, nulla illum? Illo cumque recusandae eius quo tempore iste at alias voluptatem optio odio unde, similique amet qui, tempora accusamus assumenda! Quo corporis ex ipsam adipisci, dolorem veniam explicabo! Numquam unde suscipit, amet dolor earum, fugit rem optio eligendi voluptate dolorem incidunt ullam modi dolore, reiciendis maiores veritatis sint praesentium aliquid. Quae, saepe! Hic adipisci atque porro itaque at rerum dolores nobis, minima provident nemo laborum ratione eius voluptas odio architecto quia officiis quos totam tempora vero! Tempora debitis, velit dolor ratione exercitationem dolorum molestiae! Reprehenderit iusto magni architecto aut quae!
</p>
